@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<S2_P4.Models.Jugador>
<h2>Catálogo de Consolas</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Nivel</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var jugador in Model)
        {
            <tr>
                <td>@jugador.Id</td>
                <td>@jugador.Username</td>
                <td>@jugador.Nivel</td>
            </tr>
        }
    </tbody>
</table>
@{
}
